*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #8F8F8F;
    --white: white;
    --leftBgc: #121212;
    --leftScroll: #1F1F1F;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: var(--white);
    padding: 3px;
    overflow: hidden;
    user-select: none;
    font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;;
}
.main{
    /* position: relative; */
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.whole_container{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: 8% 75% auto;
    grid-template-areas: "header header"
                        "left right"
                        "footer footer";
    
    gap: 7px;
    /* background-color: blue; */
}

.parts{
    border-radius: 3px;
}
#header{
    grid-area: header;
    justify-items: center;
    /* background: grey; */
    display: flex;
    align-items: center;
    /* gap: 50px; */
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    /* height: 100%; */
    /* width: 100%; */
    /* right: 0; */
    /* height: 36%; */
    /* position: absolute;
    position: fixed; */
}

.search_part{
    display: flex;
    align-items: center;
    /* background-color: red; */
    gap: 10px;
    padding-left: 150px;
}
.search_part #home_img{
    /* border: 1px solid red; */
    padding: 12px;
    border-radius: 50%;
    background-color: var(--leftScroll);
}
#home_img:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
.search_part .search_input_part{
    /* outline: 1px solid blue; */
    border-radius: 30px;
    display: flex;
    padding: 12px 25px 10px 25px;
    align-items: center;
    background-color: var(--leftScroll);
}
.search_input_part form{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}
.search_part input{
    /* padding: 15px 25px 15px 25px; */
    padding-right: 100px;
    outline: none;
    font-size: 15px;
    border: none;
    /* border-radius: 50px; */
    background-color: var(--leftScroll);
    color: white;
    
}
.login_part{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 20px;
}
#sign{
    background-color: black;
    color: var(--color1);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
}
#login{
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
}
#sign:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.05, 1.05);
}
#login:hover{
    color: black;
    cursor: pointer;
    transform: scale(1.05, 1.05);
}

#left_content{
    grid-area: left;
    /* background: blue; */
    /* position: relative; */
    /* height: 400px; */
    /* width: 440px; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* justify-content: space-around; */
    /* width: 100%; */
    overflow: hidden;
}
#left_top_content{
    height: 60%;
    /* border-radius: 20px; */
}
.library{
    height: 30%;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--color1);
    justify-content: space-between;
}

#library_first{
    transition: all 0.3s cubic-bezier(0.73, 0.04, 0.42, 0.39);
    display: flex;
    align-items: center;
    column-gap: 10px;
}
/* .svg1:hover{
    filter: brightness(0) saturate(100%) invert(100%);
} */
#library_first:hover{
    cursor: pointer;
    color: var(--white);
    filter: brightness(0) saturate(100%) invert(100%);
}
.fa-solid{
    transition: all 0.3s cubic-bezier(0.73, 0.04, 0.42, 0.39);
    padding: 10px;
    border-radius: 50%;
    /* border: 1px solid black; */
}
.fa-solid:hover{
    cursor: pointer;
    color: white;
    background-color: var(--leftScroll);
    transition: none;
}

.top_bottom{
    background-color: var(--leftBgc);
    /* background-color: rebeccapurple; */
}
.create_browse{
    background-color: var(--leftScroll);
    /* height: 60%; */
    /* overflow: hidden; */
    padding: 25px;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.scroll_part{
    overflow: hidden;
    /* overflow: overlay; */
    /* padding-right: 8px; */
    height: 70%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.scroll_part:hover{
    overflow-y: auto;
}
.scroll_part::-webkit-scrollbar{
    width: 0.8em;
    /* background: transparent; */
}
.scroll_part::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.302);
}
.scroll_part::-webkit-scrollbar-track {
    background-color: transparent;
}
.bttn{
    border-radius: 30px;
    border: none;
    padding: 7px;
}
.bttn:hover{
    cursor: pointer;
    transform:scale(1.05, 1.05);
}
#bttn1{
    width: 100px;
}
#bttn2{
    width: 150px;
}

#left_bot_content{
    height: 40%;
    /* z-index: 2; */
    padding:30px 70px 0px 20px;
}
.text_content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* width: 70%; */
    /* background-color: blue; */
}
.below_text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 25px;
}
.link1{
    text-decoration: none;
    color: var(--white);
    width: fit-content;
    /* background-color: blue; */
}
.link1:hover{
    text-decoration: underline;
}

#bttn3{
    padding: 7px;
    border: none;
    width: 100px;
    border-radius: 20px;
    background-color: #121212;
    border: 1px solid white;
    color: white;
}

#right_content{
    grid-area: right;
    /* justify-items: center; */
    background-color: var(--leftBgc);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* height: 400px; */
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto auto;
    gap: 10px;
    /* padding: 20px; */
}
#right_content:hover{
    overflow-y: scroll;
}
#right_content::-webkit-scrollbar{
    width: 0.8em;
    /* background: transparent; */
}
#right_content::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.302);
}
#right_content::-webkit-scrollbar-track {
    background-color: transparent;
}


.right_content_box{
    /* height: 40%; */
    background-color:darkturquoise;
    /* padding: 30px; */
}
#right_content>:first-child{
    background-color: var(--leftBgc);
}
.first_line{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 20px 5px 20px;
}

.artist{
    /* background-color: brown; */
    width: fit-content;
    border-radius: 10px;
    padding: 8px 13px;
    margin-top: 10px;
}
.artist:hover{
    background-color: var(--leftScroll);
    cursor: pointer;
}
.artist_box{
    display: flex;
    align-items: center;
    padding-left: 10px;
}
#artist4 img{
    height: 140px;
    object-fit: cover;
}
#footer_signup{
    grid-area: footer;
    justify-items: center;
    background: lightsteelblue;
    position: absolute;
    /* top: 0; */
    height: 100%;
    width: 100%;
    /* bottom: 0px; */
}

