*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color1: #8F8F8F;
    --white: white;
    --leftBgc: #121212;
    --leftScroll: #1F1F1F;
}
html, body{
    width: 100%;
    height: 100%;
    background-color: black;
    color: var(--white);
    padding: 3px;
    overflow: hidden;
    user-select: none;
    font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic ProN, Meiryo, MS Gothic;;
}
.main{
    /* position: relative; */
    height: 100%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
}

.whole_container{
    position: relative;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 33% auto;
    grid-template-rows: 8% 78% auto;
    grid-template-areas: "header header"
                        "left right"
                        "footer footer";
    
    gap: 7px;
    /* background-color: blue; */
}

.parts{
    border-radius: 3px;
}
#header{
    grid-area: header;
    justify-items: center;
    /* background: grey; */
    display: flex;
    align-items: center;
    /* gap: 50px; */
    justify-content: space-between;
    padding: 0px 30px 0px 30px;
    /* height: 100%; */
    /* width: 100%; */
    /* right: 0; */
    /* height: 36%; */
    /* position: absolute;
    position: fixed; */
}

.search_part{
    display: flex;
    align-items: center;
    /* background-color: red; */
    gap: 10px;
    padding-left: 200px;
    width: 100%;
    max-width: 700px;
    height: 45px;
}
.search_part #home_img{
    /* border: 1px solid red; */
    padding: 12px;
    border-radius: 50%;
    background-color: var(--leftScroll);
}
#home_img:hover{
    transform: scale(1.05, 1.05);
    cursor: pointer;
}
.search_input_part{
    overflow: hidden;
    width: 100%;
    /* background-color: yellow; */
    border-radius: 40px;
}
.search-bar{
    position: relative;
    width: 100%;
    max-width: 500px;
    /* background-color: blue; */
    background-color: var(--leftScroll);
    display: flex;
    align-items: center;
    border-radius: 40px;
    overflow: hidden;
    height: 37px;
    padding: 20px 0px;
}

.search-bar input{
    flex: 1;
    border: 0;
    outline: none;
    padding: 10px 76px 10px 46px;
    font-size: 18px;
    background: transparent;
    color: white;
    /* background-color: red; */
    display: flex;
    align-items: center;
}
.search-bar input::placeholder{
    color: white;
}
.search-bar #search-icon{
    position: absolute;
    left: 10px;
    border: 0;
    background-color: transparent;
    fill: white;
    /* background-color: blue; */
}
.search-bar #browse-icon{
    position: absolute;
    right: 10px;
    border: 0;
    background-color: transparent;
    fill: white;
    /* background-color: blue; */
}

.login_part{
    /* background-color: blue; */
    display: flex;
    align-items: center;
    gap: 20px;
}
#sign{
    background-color: black;
    color: var(--color1);
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
}
#login{
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    padding: 12px 25px;
}
#sign:hover{
    color: white;
    cursor: pointer;
    transform: scale(1.05, 1.05);
}
#login:hover{
    color: black;
    cursor: pointer;
    transform: scale(1.05, 1.05);
    background-color: #F0F0F0;
}

#left_content{
    grid-area: left;
    /* background: blue; */
    /* position: relative; */
    /* height: 400px; */
    /* width: 440px; */
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    /* justify-content: space-around; */
    /* width: 100%; */
    overflow: hidden;
}
#left_top_content{
    height: 60%;
    /* border-radius: 20px; */
}
.library{
    height: 30%;
    padding: 10px 20px 10px 20px;
    display: flex;
    align-items: center;
    font-size: 15px;
    color: var(--color1);
    justify-content: space-between;
}

#library_first{
    transition: all 0.3s cubic-bezier(0.73, 0.04, 0.42, 0.39);
    display: flex;
    align-items: center;
    column-gap: 10px;
}
/* .svg1:hover{
    filter: brightness(0) saturate(100%) invert(100%);
} */
#library_first:hover{
    cursor: pointer;
    color: var(--white);
    filter: brightness(0) saturate(100%) invert(100%);
}
.fa-solid{
    transition: all 0.3s cubic-bezier(0.73, 0.04, 0.42, 0.39);
    padding: 10px;
    border-radius: 50%;
    /* border: 1px solid black; */
}
.fa-solid:hover{
    cursor: pointer;
    color: white;
    background-color: var(--leftScroll);
    transition: none;
}

.top_bottom{
    background-color: var(--leftBgc);
    /* background-color: rebeccapurple; */
}
.create_browse{
    background-color: var(--leftScroll);
    /* height: 60%; */
    /* overflow: hidden; */
    padding: 25px;
    /* border: 1px solid red; */
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.scroll_part{
    overflow: hidden;
    /* overflow: overlay; */
    /* padding-right: 8px; */
    height: 70%;
    padding: 8px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}
.scroll_part:hover{
    overflow-y: auto;
}
.scroll_part::-webkit-scrollbar{
    width: 0.8em;
    /* background: transparent; */
}
.scroll_part::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.302);
}
.scroll_part::-webkit-scrollbar-track {
    background-color: transparent;
}
.bttn{
    border-radius: 30px;
    border: none;
    padding: 7px;
    font-weight: bold;
}
.bttn:hover{
    cursor: pointer;
    transform:scale(1.05, 1.05);
}
#bttn1{
    width: 120px;
}
#bttn2{
    width: 150px;
}

#left_bot_content{
    height: 40%;
    /* z-index: 2; */
    padding:30px 70px 0px 20px;
}
.text_content{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* width: 70%; */
    /* background-color: blue; */
}
.below_text{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 25px;
}
.link1{
    text-decoration: none;
    color: var(--white);
    width: fit-content;
    /* background-color: blue; */
}
.link1:hover{
    text-decoration: underline;
}

.bttn3{
    border: 1px solid var(--color1);
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: 7px 10px;
    width: fit-content;
}
.bttn3:hover{
    cursor: pointer;
    transform:scale(1.05, 1.05);
    border-color: white;
}
.bttn3 button:hover{
    cursor: pointer;
}
.bttn3 button{
    /* padding: 7px; */
    border: none;
    /* width: 100px; */
    /* border-radius: 20px; */
    background-color: #121212;
    color: white;
    display: flex;
    align-items: center;
    gap: 7px;
}

#right_content{
    grid-area: right;
    /* justify-items: center; */
    background-color: var(--leftBgc);
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    /* height: 400px; */
    /* display: flex;
    flex-direction: column;
    gap: 10px; */
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    gap: 10px;
    /* padding: 20px; */
}
.first_content_box{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto auto auto auto;
    /* background-color: blue; */
    /* background-color: var(--leftBgc); */
}

#right_content:hover{
    overflow-y: scroll;
}
#right_content::-webkit-scrollbar{
    width: 0.8em;
    /* background: transparent; */
}
#right_content::-webkit-scrollbar-thumb{
    background-color: rgba(255, 255, 255, 0.302);
}
#right_content::-webkit-scrollbar-track {
    background-color: transparent;
}


/* .right_content_box{
    /* height: 40%; */
    /* background-color:darkturquoise; */
    /* padding: 30px;
} */
.first_line{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 20px 5px 20px;
    /* background-color: blue; */
}

.first_line>:hover{
    cursor: pointer;
    text-decoration: underline;
}

.artist{
    /* background-color: brown; */
    width: fit-content;
    border-radius: 10px;
    padding: 8px 13px;
    margin-top: 10px;
    height: 230px;
}
.artist:hover{
    background-color: var(--leftScroll);
    cursor: pointer;
}
.artist_box{
    display: flex;
    align-items: center;
    padding-left: 10px;
    /* object-fit: cover; */
}
/* .artist_name{
    padding: 5px 0px 20px 0px;
} */
.artist .artist_Image{
    height: 140px;
    object-fit: cover;
}
.artImage{
    position: relative;
    overflow: hidden;
    /* display: flex; */
}

.artist_name p:hover{
    text-decoration: underline;
}
#playSVG{
    background-color: #1ED760;
    border-radius: 50%;
    padding: 13px;
    position:absolute;
    bottom: 5px;
    right: 5px;
    display: none;
}
.artist:hover #playSVG{
    display: block;
    animation: play 0.15s linear forwards;
}
@keyframes play {
    from{bottom: 5px; right: 5px;}
    to{bottom: 12px; right: 5px;}
}


.second_content_box{
    /* background-color: yellow; */
    padding: 40px 25px 40px 25px;
}

.company_part{
    /* background-color: red; */
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: space-between; */
}
.first_part{
    /* background-color: blue; */
    display: flex;
    gap: 40px;
    /* width: 80%; */
}
.last{
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.last h4{
    user-select: text;
}
.last p{
    color: var(--color1);
    /* font-size: 10px; */
}
.last p:hover{
    cursor: pointer;
    color: white;
    text-decoration: underline;
}
.second_part{
    /* background-color: antiquewhite; */
    display: flex;
    align-items: baseline;
    flex-direction: row;
    justify-content: center;
    gap: 10px;
}
.second_part button{
    background-color: var(--leftScroll);
    border: none;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
}

.second_part button:hover{
    background-color: #727272;
    cursor: pointer;
}
.copyright{
    padding: 40px 0px;
    /* background-color:darkgreen; */
    user-select:text;
}

#footer_signup{
    grid-area: footer;
    justify-items: center;
    background: lightsteelblue;
    position: absolute;
    /* top: 0; */
    height: 100%;
    width: 100%;
    /* bottom: 0px; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;
    background-image: linear-gradient(to right, #AF2896, #509AF4);
    border-radius: 0px;
}

#footer_signup .preview{
    color: white;
    font-size: 15px;
}
#footer_signup button{
    font-size: 17px;
    padding: 15px 27px;
}
#footer_signup button:hover{
    background-color: #F0F0F0;
}
#footer_signup:hover{
    cursor: pointer;
}


